.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/test/**
.husky/**
.github/**
.mocharc.js
.nvmrc
commitlint.config.js
screenshot.png
